@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
html {
  font-size: 62.5%;
  font-family: Arial; }

.countContainer {
  display: inline-block; }
  .countContainer__input {
    width: 50%;
    border: solid #bb9230 0.1rem;
    border-radius: 1rem; }

.paymentItem {
  margin-right: 1rem; }
  .paymentItem__input {
    -webkit-appearance: none;
    border-radius: 0.3rem;
    border: 0.1rem solid #bb9230;
    padding: 0.5rem;
    margin: 0; }

.categoryItem__input {
  -webkit-appearance: none;
  border-radius: 2rem;
  border: solid #bb9230 0.1rem;
  padding: 0.5rem;
  margin: 0; }

.profileContainer {
  margin: 5rem; }

.infoContainer {
  border: solid #bb9230 0.1rem;
  padding: 2rem;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 5rem; }
  .infoContainer__content {
    display: flex;
    justify-content: space-between; }
    .infoContainer__content__left {
      width: 100%;
      height: 250px;
      padding-bottom: 2rem; }
      .infoContainer__content__left__image {
        background-image: url("../assets/images/user.jpg");
        background-size: cover;
        background-position: center;
        border: solid #bb9230 0.1rem;
        border-radius: 20px;
        width: 100%;
        height: 100%; }
      .infoContainer__content__left__data {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        font-size: 18px; }
    .infoContainer__content__right {
      margin-left: 2rem;
      padding-bottom: 2rem; }
      .infoContainer__content__right__header {
        display: flex;
        justify-content: space-between;
        margin-right: 3rem; }
        .infoContainer__content__right__header__name {
          font-size: 40px;
          padding: 0 2rem; }
        .infoContainer__content__right__header__edit {
          font-size: 3rem;
          color: #bb9230; }
      .infoContainer__content__right__discribtion {
        margin-top: 2rem;
        font-size: 20px;
        padding: 0 2rem; }

.branchContainer {
  border: solid #bb9230 0.1rem;
  padding: 2rem;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 5rem; }
  .branchContainer__content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 3rem; }
    .branchContainer__content__location {
      font-size: 1.5rem;
      margin-bottom: 3rem;
      justify-self: center;
      color: #918F89; }
      .branchContainer__content__location__header {
        font-weight: bold; }
      .branchContainer__content__location__address {
        display: block;
        margin-top: 0.5rem; }
      .branchContainer__content__location__phone {
        display: block; }
    .branchContainer__content__icon {
      font-size: 3rem;
      color: #bb9230;
      justify-self: end; }

.profileLabel {
  margin-left: 7rem;
  display: inline-block;
  padding: 1rem;
  border-radius: 1rem;
  border: solid #bb9230 0.1rem;
  font-size: 20px;
  color: #918F89; }

.productLabel {
  background-color: #000000;
  margin-left: 10rem;
  color: #FFFFF4;
  display: inline-block;
  padding: 1rem;
  border-radius: 1rem; }

.ProductContainer {
  width: 100%;
  border: solid #bb9230 0.1rem; }
