@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial;
}

body {
  font-size: 1.6rem;
}

.header {
  height: 5.5rem;
  color: #bb9230;
  margin: auto;
  display: flex;
  background-color: #ffffff;
  font-weight: 700;
  justify-content: space-around;
  align-items: center;
}
.header__logo {
  width: 10rem;
}
.header__logo__icon {
  width: 100%;
}

.footer {
  height: 22rem;
  background-color: #000000;
  color: #918f89;
  margin: auto;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.footer__bottom {
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.1rem solid #918f89;
}
.footer__bottom__icons {
  margin: 0.5rem;
}

.container {
  margin: auto;
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container__col {
  width: 31%;
  height: 80%;
}
.container__col__menu {
  padding: 0.5rem;
  list-style: none;
}
.container__col__menu__item {
  padding: 0.5rem;
  display: flex;
}
.container__col__menu__item__text {
  padding: 0.8rem;
}
.container__col__logo {
  width: 40%;
  padding: 0.5rem;
}
.container__col__text {
  width: 80%;
}
.container__col__title {
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
}

.imgs {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

.pad {
  margin: 0.5rem;
}

.nav {
  font-weight: 700;
}
.nav__menu {
  list-style: none;
  padding: 0.5rem;
}
.nav__menu__item {
  color: #000000;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: color 0.2s;
  margin: 0 1rem;
}
.nav__menu__link {
  color: #918f89;
  text-decoration: none;
}
.nav__menu__link:hover {
  text-decoration: none;
  color: #bb9230;
  transition: all 0.3;
}

.detailsContainer {
  margin: 5rem;
}
.detailsContainer__info {
  margin-left: -5rem;
  margin-bottom: 2rem;
}
.detailsContainer__input {
  margin-left: 1rem;
  border: solid #bb9230 0.2rem;
  border-radius: 1rem;
}

.countItem {
  margin: 2rem;
}
.countItem__info {
  margin-left: -1rem;
  margin-bottom: 2rem;
}
.countItem__input {
  width: 20rem;
  height: 3rem;
  border: solid #bb9230 0.2rem;
  border-radius: 1rem;
  margin-right: 2rem;
}

.paymentItem {
  width: 40%;
  margin-right: 1rem;
}
.paymentItem__input {
  -webkit-appearance: none;
  border-radius: 0.3rem;
  border: 0.1rem solid #bb9230;
  padding: 0.5rem;
  margin-right: 1rem;
}

.categoryItem {
  width: 40%;
  margin-right: 1rem;
}
.categoryItem__input {
  -webkit-appearance: none;
  border-radius: 2rem;
  border: solid #bb9230 0.1rem;
  padding: 0.5rem;
  margin-right: 1rem;
}

.profileContainer {
  margin: 5rem;
}

.infoContainer {
  border: solid #bb9230 0.1rem;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 5rem;
}
.infoContainer--modal {
  margin-bottom: 0;
}
.infoContainer__content {
  display: flex;
}
.infoContainer__content__left {
  width: 30%;
  height: 300px;
  padding-bottom: 2rem;
}
.infoContainer__content__left__image {
  background-size: cover;
  background-position: center;
  border: solid #bb9230 0.1rem;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.infoContainer__content__left__image i {
  color: #bb9230;
  position: relative;
  left: 270px;
  font-size: 1.8rem;
  margin-top: 1rem;
}
.infoContainer__content__left__data {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 18px;
}
.infoContainer__content__right {
  margin-left: 2rem;
  padding-bottom: 2rem;
  width: 80%;
}
.infoContainer__content__right__header {
  display: flex;
  justify-content: space-between;
}
.infoContainer__content__right__header__name {
  font-size: 40px;
  padding: 0 2rem;
}
.infoContainer__content__right__header__edit {
  font-size: 3rem;
  color: #bb9230;
}
.infoContainer__content__right__discribtion {
  margin-top: 2rem;
  font-size: 20px;
  padding: 0 2rem;
}
.infoContainer__content__right__discribtion textarea {
  resize: none;
  outline: none;
  border: solid #bb9230 0.1rem;
  border-radius: 15px;
  padding: 1rem;
}

.lastContent {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}
.lastContent__changepassword {
  margin-top: 2rem;
  font-size: 18px;
}

.myModal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding: 2rem 0;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  /* Hidden by default */
}
.myModal__modalContent {
  background-color: #fefefe;
  margin: auto;
  border: 0.1rem solid #888;
  width: 80%;
  border-radius: 20px;
}
.myModal__modalContent--password {
  width: 40%;
  padding: 1rem;
  margin: 10rem auto;
}
.myModal__modalContent__body {
  display: grid;
  grid-column: auto;
  padding: 20px;
  margin: auto;
}
.myModal__modalContent__body > div {
  margin: 1rem;
  justify-self: center;
}
.myModal__modalContent__body__branchContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: nowrap;
}
.myModal__modalContent__body__branchContainer__dropdownContainer {
  margin: 0 0 2rem 5rem;
  width: 100%;
}
.myModal__modalContent__body__branchContainer__branchesInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: nowrap;
  align-items: center;
}

.editInfoModalActive {
  display: block;
}

.branchContainer {
  border: solid #bb9230 0.1rem;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 5rem;
}
.branchContainer--shadow {
  box-shadow: 5px 7px 5px 1px rgba(0, 0, 0, 0.2);
}
.branchContainer__edit {
  display: grid;
  grid-column: auto auto auto;
}
.branchContainer__edit__icon {
  justify-self: end;
  font-size: 3rem;
  color: #bb9230;
}
.branchContainer__edit__icon--s {
  font-size: 1rem;
}
.branchContainer__edit__icon--m {
  font-size: 2rem;
}
.branchContainer__branches {
  display: grid;
  grid-template-columns: auto auto auto;
}
.branchContainer__branches__location {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  justify-self: center;
  color: #918f89;
}
.branchContainer__branches__location--mlocation {
  width: 80%;
  margin: auto;
}
.branchContainer__branches__location > input {
  margin: 1rem 0rem;
}
.branchContainer__branches__location__header {
  font-weight: bold;
}
.branchContainer__branches__location__address {
  display: block;
  margin-top: 0.5rem;
}
.branchContainer__branches__location__phone {
  display: block;
}

.profileLabel {
  margin-left: 7rem;
  display: inline-block;
  padding: 1rem;
  border-radius: 1rem;
  border: solid #bb9230 0.1rem;
  font-size: 20px;
  color: #918f89;
}
.profileLabel--left {
  margin-left: 2rem;
}

.shoppingCar {
  width: 4.5rem;
  height: 3rem;
  color: #bb9230;
  border: 1px solid #bb9230;
  padding: 0.5% 0% 0% 1.2%;
  border-radius: 50% 0% 0% 50%;
  position: fixed;
  top: 30%;
  bottom: 0%;
  right: 0%;
  left: 97.1%;
}

.shoppingCart {
  width: 40rem;
  padding: 1rem;
  height: auto;
  border: 1px solid #bb9230;
  display: flex;
  flex-direction: column;
  float: right;
  background-color: #fffcf8;
}
.shoppingCart__title {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.shoppingCart__item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 2rem;
}
.shoppingCart__item__image {
  width: 30%;
}
.shoppingCart__item__image__logo {
  width: 100%;
}
.shoppingCart__item__product {
  width: 60%;
}
.shoppingCart__item__product__text {
  padding: 1rem;
}
.shoppingCart__item__product__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.shoppingCart__item__product__buttons__btn {
  margin: 2%;
}

.line {
  height: 1px;
  width: 50%;
  margin: 5% 0% 5% 25%;
  border-width: 0;
  color: #bb9230;
  background-color: #bb9230;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.circle {
  width: 10rem;
  height: 10rem;
  display: table;
  border-radius: 50%;
  text-align: center;
  font-size: 5rem;
}
.circle--s {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  font-size: 3.5rem;
}
.circle--active {
  border: 0.2rem solid #bb9230;
  background-color: #ffffff;
  color: #918f89;
}
.circle--notTouched {
  border: 0.2rem solid #918f89;
  background-color: #ffffff;
  color: #918f89;
}
.circle--finished {
  border: 0.2rem solid #bb9230;
  background-color: #bb9230;
  color: #ffffff;
}

.circle span {
  display: table-cell;
  vertical-align: middle;
  height: 10rem;
  width: 10rem;
  text-align: center;
  padding: 0 15px;
}

.circle--s span {
  width: 7rem;
  height: 7rem;
}

.pipe {
  width: 18rem;
  height: 1rem;
  align-self: center;
}
.pipe--s {
  width: 10rem;
  height: 1rem;
}
.pipe--notTouched {
  border-bottom: 0.1rem solid #918f89;
  border-top: 0.1rem solid #918f89;
  background-color: #ffffff;
}
.pipe--finished {
  border-bottom: 0.1rem solid #d1aa4d;
  border-top: 0.1rem solid #d1aa4d;
  background-color: #bb9230;
}

.input {
  width: 100%;
  height: 6rem;
  box-sizing: border-box;
  border-radius: 4rem;
  border: 0.2rem solid #bb9230;
  padding-left: 3rem;
  font-size: 2rem;
  color: #1a1a1a;
}
.input--mwh {
  width: 80%;
  height: 4.5rem;
}
.input--m {
  height: 4rem;
  font-size: 1.6rem;
  padding-left: 2rem;
}
.input--sf {
  font-size: 1.4rem;
}
.input--shadow {
  box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.2);
}
.input--s {
  width: 30rem;
  height: 4rem;
  border-radius: 15px;
  border: 0.1rem solid #bb9230;
}

.input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.button--rounded {
  width: 100%;
  height: 7.5rem;
  box-sizing: border-box;
  border-radius: 4rem;
  border: 0.2rem solid #bb9230;
  color: #000000;
  font-size: 2rem;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
}
.button--rounded--shadow {
  box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.2);
}
.button--rounded--s {
  width: 12rem;
  height: 4rem;
  margin-right: 4rem;
  text-align: center;
  border-radius: 4rem;
  border: 0.2rem solid #bb9230;
  background-color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}
.button--rounded--danger {
  background-color: #c92027;
  color: white;
  border: none;
}
.button--rounded--disabled {
  display: none;
}

.button--rounded:focus,
textarea:focus,
select:focus {
  outline: none;
}

.dropdown-head {
  width: 100%;
}
.dropdown-head__arrow {
  color: #bb9230;
  font-size: 2rem;
  position: relative;
  top: 0.2rem;
  left: 93%;
}
.dropdown-head__text {
  text-align: center;
  display: inline-block;
  margin-top: 0.8rem;
  text-transform: capitalize;
}
.dropdown-head--small {
  width: 13.5rem;
}
.dropdown-head--small__arrow {
  color: #bb9230;
  font-size: 1.2rem;
  position: relative;
  top: 0rem;
  left: 22%;
}
.dropdown-head--small__text {
  text-align: center;
  display: inline-block;
  margin-top: 1rem;
}

.dropdown {
  display: none;
  border: 0.1rem solid #bb9230;
  border-top: none;
  border-radius: 0 0 2rem 2rem;
  position: relative;
  top: -2rem;
  padding: 1rem;
}
.dropdown__list {
  list-style: none;
  padding: 1rem;
}
.dropdown__list__item {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem dashed #bb9230;
  cursor: pointer;
}
.dropdown__list__item:last-child {
  border-bottom: none;
}
.dropdown__list__item__link {
  text-transform: capitalize;
  color: #1a1a1a;
  font-size: 1.6rem;
}
.dropdown--small {
  position: relative;
  top: -2rem;
  padding: 0.5rem;
  width: 12.3rem;
}
.dropdown--small__list {
  padding: 0.5rem;
}
.dropdown--small__list__item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.dropdown--m {
  position: relative;
  top: -2rem;
  padding: 0.5rem;
  width: 30rem;
}
.dropdown--m__list {
  padding: 0.5rem;
}
.dropdown--m__list__item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.dropdown--listing {
  width: 10rem;
}

.dropdown-open {
  display: block;
}

.dropdown-containera {
  width: 50%;
  margin-top: 3rem;
}
.dropdown-containera--category {
  justify-self: end;
}
.dropdown-containera--sort {
  justify-self: center;
}

.dropdownArrow {
  color: #bb9230;
  font-size: 2rem;
  position: relative;
  top: 0.2rem;
}
.dropdownArrow--1 {
  left: 40%;
}
.dropdownArrow--2 {
  left: 48%;
}
.dropdownArrow--3 {
  left: 30%;
}

.mapLocation {
  width: 50%;
  height: 24rem;
  background-color: teal;
}
.mapLocation__btn {
  position: relative;
  top: 80%;
  left: 45%;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: underline;
}

.list-container {
  margin: 2rem 10rem;
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto;
  column-gap: 5rem;
  color: #000000;
}

.item-medium {
  padding: 1.5rem;
  margin: 3rem;
  position: relative;
}
.item-medium__image {
  overflow: hidden;
  padding-top: 100%;
  width: 100%;
  position: relative;
}
.item-medium__alert {
  border-radius: 50%;
  background-color: #bb9230;
  border-bottom: 2px solid #927226;
  color: #ffffff;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-weight: 700;
  top: -1rem;
  right: 0;
  z-index: 5;
}
.item-medium__action {
  position: absolute;
  top: -5rem;
  opacity: 20%;
  width: 100%;
  background-color: #bb9230;
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  transition: all 0.2s;
}
.item-medium:hover .item-medium__action {
  top: 0;
  opacity: 1;
  z-index: 3;
}
.item-medium:hover .item-medium__image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0.3;
  z-index: 1;
}
.item-medium__crud-actions {
  position: absolute;
  top: 90%;
  right: 1.5rem;
  color: #000000;
}
.item-medium__crud-actions a:hover {
  color: #bb9230;
}

.paging {
  display: flex;
  margin: 1.5rem;
  font-size: 1.4rem;
  color: #bb9230;
  font-weight: 400;
  grid-column: 3;
  justify-self: end;
}
.paging__arrow {
  border: #d1aa4d;
  padding: 0.6rem 1rem;
  margin: 0.2rem;
}
.paging__number {
  border: #d1aa4d;
  padding: 0.6rem 1rem;
  margin: 0.2rem;
}
.paging__number.active {
  background-color: #bb9230;
  color: #ffffff;
  border-radius: 50%;
}

.modal-bg {
  width: 100%;
  height: 80rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 8% auto;
  padding: 2rem 0;
  width: 40%;
  background-color: #fffcf8;
}
.modal-content__closeIcon {
  position: relative;
  top: 0.5rem;
  left: 23rem;
}

.modal-card {
  width: 80%;
  height: 18rem;
  border: 0.2rem solid #bb9230;
  border-radius: 1.2rem;
  margin: 3% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
.modal-card__img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  border: 0.1rem solid #bb9230;
}
.modal-card__text {
  width: 40%;
  height: 10rem;
}
.modal-card__text__header {
  text-transform: capitalize;
  text-align: center;
}
.modal-card__text__line {
  background-color: #bb9230;
  height: 0.1px;
  width: 80%;
  margin: 0.2rem auto;
}
.modal-card__text__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.modal-card__text__content__info .amount {
  padding: 0.3rem 0;
}
.modal-card__text__content__line {
  width: 0.1rem;
  height: 6rem;
  background-color: #bb9230;
  margin: 0.1rem 0rem;
}
.modal-card__text__content__prices .amount {
  padding: 0.3rem 0;
}

.product-card {
  width: 80%;
  height: 18rem;
  border: 0.2rem solid #bb9230;
  border-radius: 1.2rem;
  margin: 3% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.product-card--large {
  height: 22rem;
}
.product-card__img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  border: 0.1rem solid #bb9230;
}
.product-card__text {
  width: 40%;
  height: 10rem;
}
.product-card__text__header {
  text-transform: capitalize;
  text-align: center;
}
.product-card__text__line {
  background-color: #bb9230;
  height: 0.1px;
  width: 80%;
  margin: 0.2rem auto;
}
.product-card__text__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.product-card__text__content__info .amount {
  padding: 0.3rem 0;
}
.product-card__text__content__line {
  width: 0.1rem;
  height: 6rem;
  background-color: #bb9230;
  margin: 0.1rem 0rem;
}
.product-card__text__content__prices .amount {
  padding: 0.3rem 0;
}

.addProductContainer {
  display: flex;
  flex-flow: column;
  margin: 15rem 0rem;
}

.productLabel {
  width: 13rem;
  background-color: #000000;
  margin-left: 15rem;
  color: #fffff4;
  padding: 0.5rem 2rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.ProductContainer {
  display: flex;
  border-top: solid #bb9230 0.1rem;
}

.productImageContainer {
  width: 25%;
  margin: 5rem;
}
.productImageContainer__image {
  margin: 0rem;
}
.productImageContainer__label {
  width: 100%;
  background-color: #000000;
  color: #fffff4;
  text-align: center;
  padding: 0.5rem 2rem;
  border-radius: 0rem 0rem 1rem 1rem;
}

.productDetailsContainer {
  margin-top: 5rem;
  margin-left: 15rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.countContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 7rem 0rem;
}

.paymentsContianer {
  margin-bottom: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5.5rem;
  margin-bottom: 7rem;
}

.btnContainer {
  margin-left: 25rem;
}

.login-container {
  display: flex;
  flex-direction: row;
}

.login-img {
  width: 50%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

.img-login {
  width: 100%;
  height: 100%;
  display: block;
}

.login-form-container {
  width: 50%;
  margin: auto;
}

.login-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.form-header {
  margin-bottom: 8rem;
  font-size: 5rem;
  font-weight: bold;
}

.login-form > input {
  margin-bottom: 2em;
}

.login-form > button {
  margin: 1rem 0rem 2rem 0rem;
  font-weight: bold;
}

.login-form > a {
  margin-top: 6rem;
  cursor: pointer;
  font-weight: bold;
}

.register-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.register-img {
  width: 50%;
  height: 100vh;
}

.img-register {
  width: 100%;
  height: 100%;
}

.register-form-container {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.register-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.register-header {
  margin-bottom: 2rem;
  font-size: 4rem;
  margin-top: 2rem;
  font-weight: bold;
}

.container {
  margin-bottom: 2rem;
}

.register-form > input {
  margin: 2rem;
}

.register-form > button {
  margin: 1rem 0rem 3rem 0rem;
  font-weight: bold;
}

.register-form > a {
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.button-container {
  width: 100%;
  align-self: flex-end;
}

.flex-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5rem;
}

.flex-buttons-container > button {
  font-weight: bold;
}

.dropdown-container {
  width: 100%;
  margin-top: 2rem;
  height: 30rem;
}

.terms-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.terms-container > div {
  margin: 2rem 0;
}

.block-span {
  display: block;
}

.reg-arrow {
  position: relative;
  top: 0.3rem;
  left: 75%;
  color: #bb9230;
}

.branches-div {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 1.2rem;
  border: 0.1rem solid #bb9230;
  margin: 0 auto;
}

.branches-container {
  width: 100%;
}

.location-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 85%;
}

.info {
  width: 100%;
  height: 28rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  flex-wrap: nowrap;
}
.info__photo {
  width: 20rem;
  height: 20rem;
  border: 0.1rem solid #bb9230;
  border-radius: 1.2rem;
}

.map-icon {
  color: #c92027;
  align-self: center;
}

.tab-label {
  width: 12rem;
  color: #000000;
  display: inline-block;
  background-color: #fffff4;
  padding: 0.5rem 2rem;
  border-radius: 1rem 1rem 0rem 0rem;
  text-align: center;
  border: 0.1rem solid #bb9230;
}
.tab-label--s {
  width: 6rem;
}
.tab-label:hover {
  background-color: #000000;
  color: #fffff4;
}

.active-tab {
  background-color: #000000;
  color: #fffff4;
}

.date-container {
  border: 0.1rem solid #bb9230;
  border-radius: 2.2rem;
  margin: 1rem 12px 0rem -3rem;
  padding: 1rem 3rem 1rem 1rem;
  width: 18%;
  text-align: right;
}

.history-container {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
  margin: 5rem 0;
}

.product-card-container {
  margin: auto;
}

.status-container {
  width: 90%;
  border: 0.1rem solid #bb9230;
  border-radius: 20rem;
  height: 3rem;
  margin: 0rem auto;
  padding: 0rem 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.status-current {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.status-current__circle {
  margin-right: 0.5rem;
}

.show-more {
  text-align-last: right;
  font-weight: bold;
  font-size: 1.2rem;
}
.show-more__link {
  color: #bb9230;
}
.show-more:hover {
  cursor: pointer;
}

.wrapping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 2rem;
}

.mr {
  margin-left: 90%;
}

.modal-bg {
  width: 100%;
  height: 80rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 8% auto;
  padding: 2rem 0;
  width: 40%;
  background-color: #fffcf8;
}
.modal-content__closeIcon {
  position: relative;
  top: 0.5rem;
  left: 23rem;
}

.modal-card {
  width: 80%;
  height: 18rem;
  border: 0.2rem solid #bb9230;
  border-radius: 1.2rem;
  margin: 3% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
.modal-card__img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  border: 0.1rem solid #bb9230;
}
.modal-card__text {
  width: 40%;
  height: 10rem;
}
.modal-card__text__header {
  text-transform: capitalize;
  text-align: center;
}
.modal-card__text__line {
  background-color: #bb9230;
  height: 0.1px;
  width: 80%;
  margin: 0.2rem auto;
}
.modal-card__text__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.modal-card__text__content__info .amount {
  padding: 0.3rem 0;
}
.modal-card__text__content__line {
  width: 0.1rem;
  height: 6rem;
  background-color: #bb9230;
  margin: 0.1rem 0rem;
}
.modal-card__text__content__prices .amount {
  padding: 0.3rem 0;
}

.product-card {
  width: 80%;
  height: 18rem;
  border: 0.2rem solid #bb9230;
  border-radius: 1.2rem;
  margin: 3% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.product-card--large {
  height: 22rem;
}
.product-card__img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  border: 0.1rem solid #bb9230;
}
.product-card__text {
  width: 40%;
  height: 10rem;
}
.product-card__text__header {
  text-transform: capitalize;
  text-align: center;
}
.product-card__text__line {
  background-color: #bb9230;
  height: 0.1px;
  width: 80%;
  margin: 0.2rem auto;
}
.product-card__text__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.product-card__text__content__info .amount {
  padding: 0.3rem 0;
}
.product-card__text__content__line {
  width: 0.1rem;
  height: 6rem;
  background-color: #bb9230;
  margin: 0.1rem 0rem;
}
.product-card__text__content__prices .amount {
  padding: 0.3rem 0;
}

.addProductContainer {
  display: flex;
  flex-flow: column;
  margin: 15rem 0rem;
}

.productLabel {
  width: 13rem;
  background-color: #000000;
  margin-left: 15rem;
  color: #fffff4;
  padding: 0.5rem 2rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.ProductContainer {
  display: flex;
  border-top: solid #bb9230 0.1rem;
}

.productImageContainer {
  width: 25%;
  margin: 5rem;
}
.productImageContainer__image {
  margin: 0rem;
}
.productImageContainer__label {
  width: 100%;
  background-color: #000000;
  color: #fffff4;
  text-align: center;
  padding: 0.5rem 2rem;
  border-radius: 0rem 0rem 1rem 1rem;
}

.productDetailsContainer {
  margin-top: 5rem;
  margin-left: 15rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.countContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 7rem 0rem;
}

.paymentsContianer {
  margin-bottom: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5.5rem;
  margin-bottom: 7rem;
}

.btnContainer {
  margin-left: 25rem;
}

.login-container {
  display: flex;
  flex-direction: row;
}

.login-img {
  width: 50%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

.img-login {
  width: 100%;
  height: 100%;
  display: block;
}

.login-form-container {
  width: 50%;
  margin: auto;
}

.login-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.form-header {
  margin-bottom: 8rem;
  font-size: 5rem;
  font-weight: bold;
}

.login-form > input {
  margin-bottom: 2em;
}

.login-form > button {
  margin: 1rem 0rem 2rem 0rem;
  font-weight: bold;
}

.login-form > a {
  margin-top: 6rem;
  cursor: pointer;
  font-weight: bold;
}

.register-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.register-img {
  width: 50%;
  height: 100vh;
}

.img-register {
  width: 100%;
  height: 100%;
}

.register-form-container {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.register-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.register-header {
  margin-bottom: 2rem;
  font-size: 4rem;
  margin-top: 2rem;
  font-weight: bold;
}

.container {
  margin-bottom: 2rem;
}

.register-form > input {
  margin: 2rem;
}

.register-form > button {
  margin: 1rem 0rem 3rem 0rem;
  font-weight: bold;
}

.register-form > a {
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.button-container {
  width: 100%;
  align-self: flex-end;
}

.flex-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5rem;
}

.flex-buttons-container > button {
  font-weight: bold;
}

.dropdown-container {
  width: 100%;
  margin-top: 2rem;
  height: 30rem;
}

.terms-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.terms-container > div {
  margin: 2rem 0;
}

.block-span {
  display: block;
}

.reg-arrow {
  position: relative;
  top: 0.3rem;
  left: 75%;
  color: #bb9230;
}

.branches-div {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 1.2rem;
  border: 0.1rem solid #bb9230;
  margin: 0 auto;
}

.branches-container {
  width: 100%;
}

.location-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 85%;
}

.info {
  width: 100%;
  height: 28rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  flex-wrap: nowrap;
}
.info__photo {
  width: 20rem;
  height: 20rem;
  border: 0.1rem solid #bb9230;
  border-radius: 1.2rem;
}

.map-icon {
  color: #c92027;
  align-self: center;
}

.history {
  width: 100%;
  border: 1px solid #bb9230;
  color: #bb9230;
  padding: 1rem;
}
.history__title {
  font-weight: 700;
  margin: 3rem;
  text-align: center;
}
.history__btnContainer {
  width: 40%;
  margin-left: 5rem;
  display: flex;
  flex-flow: row;
}
.history__btnContainer__btn {
  color: #000000;
  margin-left: 1rem;
  padding: 0.5rem 2rem;
  width: auto;
  text-align: center;
  border: 1px solid #bb9230;
  border-bottom: 0px;
  border-radius: 1rem 1rem 0rem 0rem;
}
.history__line {
  height: 2px;
  width: 100%;
  border-width: 0;
  color: #bb9230;
  background-color: #bb9230;
}
.history__date {
  margin: 3rem 0rem;
  width: 15%;
  border: 1.5px solid #bb9230;
  border-left: 0px;
  border-radius: 0 50% 50% 0%;
  color: #000000;
  text-align: right;
  padding: 0.5rem 4.5rem;
}
.history__status {
  margin: auto;
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.history__status__img {
  width: 50%;
  position: relative;
  margin: 1%;
}
.history__status__img__rotated {
  width: 275px;
  height: 265px;
  transform: rotate(40deg);
  border: 1px solid #bb9230;
}
.history__status__img__normal {
  width: 70%;
  height: 70%;
}
.history__status__details {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.history__status__details__btn {
  width: 60%;
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 3%;
  margin-left: 20%;
}

.box {
  position: absolute;
  top: 25%;
  left: 20%;
}

.order {
  width: 100%;
  height: 46rem;
  padding: 1rem;
  border: 1px solid #bb9230;
  border-radius: 3rem;
  display: grid;
  grid-template-columns: auto auto;
}
.order__grid {
  text-align: center;
  width: 40rem;
  height: 20rem;
}

.line {
  margin-top: 2%;
}

.link {
  margin-top: 1.5%;
  margin-left: 93%;
  color: #bb9230;
}
.link:hover {
  text-decoration: none;
  color: #918f89;
}

table,
th,
td {
  border: 1px solid #bb9230;
}

.tab {
  margin-left: 25%;
  width: 25rem;
  height: 20rem;
  color: #000000;
}

td {
  padding: 5px;
  text-align: center;
}

.item3 {
  width: 40rem;
  height: 20rem;
  padding: 1rem;
  color: #000000;
  text-align: justify;
  border: 1px solid #bb9230;
  margin-left: 10%;
}

.item2 {
  display: flex;
  flex-direction: column;
  color: #000000;
  align-items: center;
}
.item2__div1 {
  border: 1px solid #bb9230;
  text-align: center;
  width: 20rem;
  height: 8rem;
  margin: 1rem;
  padding: 0.5rem;
}
.item2__div2 {
  padding: 0.5rem;
  border: 1px solid #bb9230;
  width: 20rem;
  height: 4rem;
  margin: 0.5rem;
}

.item4 {
  width: 25rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #bb9230;
  padding: 0.5rem;
  margin-left: 18%;
  margin-top: 10%;
}

.txt {
  align-items: center;
  text-align: center;
  color: #bb9230;
  font-weight: 400;
}

.activeBtn {
  background-color: #000000;
  color: #ffffff;
}
