@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

.header {
  height: 5.5rem;
  color: #bb9230;
  margin: auto;
  display: flex;
  background-color: #FFFCF8;
  border: 1px solid #918F89;
  font-weight: 700;
  justify-content: space-around;
  align-items: center; }
  .header__logo {
    width: 10rem; }
    .header__logo__icon {
      width: 100%; }

.footer {
  height: 22rem;
  background-color: #333333;
  color: #918F89;
  margin: auto;
  font-weight: 700;
  display: flex;
  flex-direction: column; }
  .footer__bottom {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #FFFFFF; }
    .footer__bottom__icons {
      margin: 0.5rem; }

.container {
  margin: auto;
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .container__col {
    width: 31%;
    height: 80%; }
    .container__col__menu {
      padding: .5rem;
      list-style: none; }
      .container__col__menu__item {
        padding: .5rem;
        display: flex; }
        .container__col__menu__item__text {
          padding: .8rem; }
    .container__col__logo {
      width: 40%;
      padding: .5rem; }
    .container__col__text {
      width: 80%; }
    .container__col__title {
      align-items: center; }

.grid {
  display: grid;
  grid-template-columns: auto auto; }

.imgs {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem; }

.pad {
  margin: 0.5rem; }

.nav {
  font-weight: 700; }
  .nav__menu {
    list-style: none;
    padding: 0.5rem; }
    .nav__menu__item {
      color: #000000;
      display: inline-block;
      position: relative;
      cursor: pointer;
      transition: color 0.2s;
      margin: 0 1rem; }
    .nav__menu__link {
      color: #918F89;
      text-decoration: none; }
      .nav__menu__link:hover {
        color: #bb9230;
        transition: all 0.3; }

.countContainer {
  display: inline-block; }
  .countContainer__input {
    width: 50%;
    border: solid #bb9230 0.1rem;
    border-radius: 1rem; }

.paymentItem {
  margin-right: 1rem; }
  .paymentItem__input {
    -webkit-appearance: none;
    border-radius: 0.3rem;
    border: 0.1rem solid #bb9230;
    padding: 0.5rem;
    margin: 0; }

.categoryItem__input {
  -webkit-appearance: none;
  border-radius: 2rem;
  border: solid #bb9230 0.1rem;
  padding: 0.5rem;
  margin: 0; }

.profileContainer {
  margin: 5rem; }

.profileLabel {
  margin-left: 7rem;
  display: inline-block;
  padding: 1rem;
  border-radius: 1rem;
  border: solid #bb9230 0.1rem;
  font-size: 20px; }

.infoContainer {
  border: solid #bb9230 0.1rem;
  padding: 2rem;
  background-color: #FFFFFF;
  border-radius: 20px; }
  .infoContainer__content {
    display: flex;
    justify-content: space-between; }
    .infoContainer__content__left {
      width: 100%;
      height: 250px;
      padding-bottom: 2rem; }
      .infoContainer__content__left__image {
        background-image: url("../assets/images/user.jpg");
        background-size: cover;
        background-position: center;
        border: solid #bb9230 0.1rem;
        border-radius: 20px;
        width: 100%;
        height: 100%; }
      .infoContainer__content__left__data {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        font-size: 18px; }
    .infoContainer__content__right {
      margin-left: 2rem;
      padding-bottom: 2rem; }
      .infoContainer__content__right__header {
        display: flex;
        justify-content: space-between; }
        .infoContainer__content__right__header__name {
          font-size: 40px;
          padding: 0 2rem; }
        .infoContainer__content__right__header__edit {
          font-size: 3rem;
          color: #bb9230; }
      .infoContainer__content__right__discribtion {
        margin-top: 2rem;
        font-size: 20px;
        padding: 0 2rem; }

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.circle--active {
  width: 10rem;
  height: 10rem;
  display: table;
  border: 0.2rem solid #bb9230;
  border-radius: 50%;
  background-color: white;
  color: #918F89;
  text-align: center;
  font-size: 5rem; }

.circle--active span {
  display: table-cell;
  vertical-align: middle;
  height: 10rem;
  width: 10rem;
  text-align: center;
  padding: 0 15px; }

.circle--notTouched {
  width: 10rem;
  height: 10rem;
  display: table;
  border: 0.2rem solid #918F89;
  border-radius: 50%;
  background-color: white;
  color: #918F89;
  text-align: center;
  font-size: 5rem;
  vertical-align: auto; }

.circle--notTouched span {
  display: table-cell;
  vertical-align: middle;
  height: 10rem;
  width: 10rem;
  text-align: center;
  padding: 0 15px; }

.circle--finished {
  width: 10rem;
  height: 10rem;
  display: table;
  border: 0.2rem solid #bb9230;
  border-radius: 50%;
  background-color: #bb9230;
  color: #FFFFFF;
  text-align: center;
  font-size: 5rem; }

.circle--finished span {
  display: table-cell;
  vertical-align: middle;
  height: 10rem;
  width: 10rem;
  text-align: center;
  padding: 0 15px; }

.pipe--notTouched {
  width: 18rem;
  height: 1rem;
  border-bottom: 0.1rem solid #918F89;
  border-top: 0.1rem solid #918F89;
  background-color: white;
  align-self: center; }

.pipe--finished {
  width: 18rem;
  height: 1rem;
  border-bottom: 0.1rem solid #d1aa4d;
  border-top: 0.1rem solid #d1aa4d;
  background-color: #bb9230;
  align-self: center; }

.input {
  width: 100%;
  height: 7.5rem;
  box-sizing: border-box;
  border-radius: 4rem;
  border: 0.2rem solid #bb9230;
  padding-left: 3rem;
  font-size: 2rem; }

.input:focus,
textarea:focus,
select:focus {
  outline: none; }

.button--rounded {
  width: 100%;
  height: 7.5rem;
  box-sizing: border-box;
  border-radius: 4rem;
  border: 0.2rem solid #bb9230;
  padding-left: 3rem;
  color: #000000;
  font-size: 2rem;
  text-align: center;
  background-color: #FFFFFF; }

.button--rounded:focus,
textarea:focus,
select:focus {
  outline: none; }

.dropdown {
  display: none;
  border: 1px solid #bb9230;
  border-radius: 2rem; }
  .dropdown__list {
    list-style: none;
    padding: 1rem; }
    .dropdown__list__item {
      padding: 1.2rem;
      border-bottom: 1px dashed #bb9230; }
      .dropdown__list__item:last-child {
        border-bottom: none; }
      .dropdown__list__item__link {
        text-transform: capitalize;
        color: #918F89; }

.dropdown-open {
  display: block; }

.productLabel {
  background-color: #000000;
  margin-left: 10rem;
  color: #FFFFF4;
  display: inline-block;
  padding: 1rem;
  border-radius: 1rem; }

.ProductContainer {
  width: 100%;
  border: solid #bb9230 0.1rem; }
