a {
  text-decoration: none;
  color: $main-black;
  &:hover {
    text-decoration: underline;
  }
}

.list-container {
  margin: 2rem 10rem;
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto;
  // grid-template-rows: 40rem 40rem 40rem;
  column-gap: 5rem;
  // row-gap: 5rem;
  // align-content: center;
  // grid-column-start: 1;
  // grid-column-end: 12;
  color: $main-black;
}

.item-medium {
  padding: 1.5rem;
  margin: 3rem;
  position: relative;

  &__image {
    overflow: hidden;
    padding-top: 100%;
    width: 100%;
    position: relative;
  }

  &__alert {
    border-radius: 50%;
    background-color: $primary-alpine;

    border-bottom: 2px solid darken($primary-alpine, 10%);
    color: $main-white;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: 700;
    top: -1rem;
    right: 0;
    z-index: 5;
  }

  &__action {
    position: absolute;
    top: -5rem;
    opacity: 20%;
    width: 100%;
    background-color: $primary-alpine;
    font-size: 1rem;
    text-decoration: none;
    color: $main-white;
    text-transform: uppercase;
    @include row-center();
    padding: 0.75rem;
    transition: all 0.2s;
  }

  &:hover {
    .item-medium__action {
      top: 0;
      opacity: 1;
      z-index: 3;
      // text-align: center;
    }
    .item-medium__image {
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $main-white;
        opacity: 0.3;
        z-index: 1;
      }
    }
  }
  &__crud-actions {
    position: absolute;
    top: 90%;
    right: 1.5rem;
    color: $main-black;

    a {
      &:hover {
        color: $primary-alpine;
      }
    }
  }
}

.text-container {
  widows: 100%;
  text-align: center;
  margin: 2rem 30rem;
  &-h3 {
    color: $primary-alpine;
  }
}

.item-medium__button {
  width: 100%;
  margin: 2rem 0;
  padding: 2rem;
  background-color: white;
  border: 2px $primary-alpine solid;
  font-size: 24px;
  &:hover {
    background-color: $primary-alpine;
    border: 2px $primary-alpine solid;
    font-size: 24px;
    color: white;
    transition: all 0.2s;
  }
}
