.dropdown-head {
  width: 100%;
  &__arrow {
    color: $primary-alpine;
    font-size: 3rem;
    position: relative;
    top: -4.5rem;
    left: 93%;
  }
}

.dropdown {
  display: none;
  border: 0.1rem solid $primary-alpine;
  border-top: none;
  border-radius: 0 0 2rem 2rem;
  position: relative;
  top: -6rem;

  padding: 1rem;
  &__list {
    list-style: none;
    padding: 1rem;
    &__item {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 0.1rem dashed $primary-alpine;
      cursor: pointer;
      &:last-child {
        border-bottom: none;
      }
      &__link {
        text-transform: capitalize;
        color: $gray;
        // font-size: 2rem;
      }
    }
  }
}
.dropdown-open {
  display: block;
}
.dropdown-arrow {
}
